$brand: #47a3da; 
$primary: darken($brand,30%);
$secondary: lighten($primary,20%);
$body: white;
@import url(main.css);

html, body {
  font-size: 18px;
  height: auto;
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #47a3da;
  color: $body;
  padding-bottom:60px;
}

h1 {
  font-size: 30px;
  @media (min-width: 480px) {
  	font-size: 40px;
  	margin-bottom: 0;
  }
  @media (min-width: 600px) {
  	font-size: 50px;
  	text-shadow: 0 1px 0 darken($brand,40%),0 2px 0 darken($brand,40%),0 3px 0 darken($brand,40%);
  }
  color: darken($brand,20%);
  border-radius: 5px;
  line-height: 1.5;
}
h2 {
	@media (min-width: 480px) {
		margin-top: 0;
	}
}

h3 {
  font-size: 20px;
  padding: 0;
  margin: 0 0 20px 0;
  color: white;
}
article {
	padding: 0 20px;
}
article img {
	width: 300px;
	max-width: 80%;
	margin: 20px;
}
img.left {
	float:left;
	margin-right: 2em;
	margin-bottom: 2em;
	max-width:25%;
}

li {
	list-style: none;
	color: $primary;
}
a, li a {
	color: $primary;
	text-decoration: none;
	transition: all 1s;
}
a:hover, li a:hover {
	color: lighten($primary,10%);
}

.feature-icon {
	display: block;
	margin: 0 auto;
	width: auto;
	height: auto;
	font-size: 100px;
	padding: 20px 0 20px 0;
	background: lighten(rgba($brand,0.3),20%);
	color: darken($brand,10%);
	text-align: center;
	@media (min-width: 600px) {
		font-size: 150px;
		background: transparent;
		text-align: left;
	}
}
.feature-icon-contain {
	@media (min-width: 600px) {
		position: absolute;
		display: block;
		width: 180px;
	}
}
.feature-title {
	@media (min-width: 600px) {
		position: relative;
		display: block;
		padding-left: 180px;
		min-height: 130px;
	}
}

.warning {
	border: 10px solid darken(midnightblue,20%);
	background: darken(midnightblue,10%);
	font-weight: bold;
	padding: 20px;
	color: white;
}

pre, code {
	padding: 20px;
	background: #444;
	text: white;
}
code {
	display: block;
	padding: 10px;
	overflow: scroll;
}
header {
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	width:100%;
	padding: 20px;
	background: #111;
	border-top: 5px solid $brand;
}